code {
  font-family: var(--ifm-font-family-monospace);
  font-variant-ligatures: none;
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  vertical-align: baseline !important;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}
