name: Run compatibility tests

on:
  workflow_run:
    workflows: [ "Compiler Build", "Build, test and release compactc" ]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest-8-core-x64
    steps:
      - name: Setup api.github.com credentials
        uses: extractions/netrc@v2
        with:
          machine: api.github.com
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_PASSWORD }}

      - name: Setup github.com credentials
        uses: extractions/netrc@v2
        with:
          machine: github.com
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_PASSWORD }}

      - name: Configure git rewrite
        run: |
          mkdir -p $HOME/.config/git
          echo '[url "https://github.com/"]' >> $HOME/.config/git/config
          echo '  insteadOf = "git@github.com:"' >> $HOME/.config/git/config
          echo '  insteadOf = "git@github.com/"' >> $HOME/.config/git/config
          echo '  insteadOf = "ssh://git@github.com/"' >> $HOME/.config/git/config

      - name: Install Nix
        uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            netrc-file = ~/.netrc
            access-tokens = github.com=${{ secrets.GH_PASSWORD }} api.github.com=${{ secrets.GH_PASSWORD }}
            extra-trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
            extra-substituters = https://cache.iog.io
            accept-flake-config = true

      - name: Cache Nix
        uses: input-output-hk/actions/attic@latest
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          endpoint: https://attic.ci.iog.io
          cache: midnight
          access_token: ${{ secrets.ATTIC_CACHE_TOKEN }}

      - name: Checkout compactc repository
        uses: actions/checkout@v4

      - name: Setup .npmrc
        run: |
          cd ./runtime
          echo "
          //npm.pkg.github.com/:_authToken=${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}
          @midnight-ntwrk:registry=https://npm.pkg.github.com/
          " > .npmrc

      - name: Configure yarn
        run: |
          cd ./runtime
          yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' "${{ secrets.MIDNIGHTBOT_PACKAGES_WRITE }}"
          echo 'checksumBehavior: update' >> ./.yarnrc.yml

      - name: Test compatibility
        run: |
          cd tests-e2e
          nix develop .#compiler --command yarn install
          nix develop .#compiler --command yarn test:compatibility

      - name: Publish Test Summary
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: Compactc E2E Tests Results
          files: |
            **/reports/test-report.xml
            !(node_modules)/**/test-report.xml

